# Assignment:2

In [2]:
#Write a Python program to add an item to a tuple.
old_tuple=(1,2,3,4,5)
x=list(old_tuple)
x.insert(0,0)
new_list=x
new_tuple=tuple(new_list)
print(new_tuple)

(0, 1, 2, 3, 4, 5)

In [3]:
my_list = [1, 2, 3, 4, 5,6]
total_sum = 0
for item in my_list:
    total_sum += item
print("Sum of all items in the list:", total_sum)

Sum of all items in the list: 21

In [4]:
my_list = [1, 2, 3, 4]
total_mul= 1
for item in my_list:
    total_mul*= item
print("multiply of all items in the list:", total_mul)

multiply of all items in the list: 24

In [5]:
my_list = [4,2,6,1,8]
smallest=my_list[0]
for num in my_list:
    if num < smallest:
        smallest = num
print("The smallest number in the list is:", smallest)

The smallest number in the list is: 1

In [6]:
my_list = [4,2,6,1,8]
largest_number=my_list[0]
for num in my_list:
    if num > largest_number:
        largest_number = num
print("The largest number in the list is:", largest_number)

The largest number in the list is: 8

In [7]:
my_list = ['Eman', 'Mohamed','Moheb', 246, 'Eldin', 'Elnawawy', 426]
str_count=0
for item in my_list:
  if isinstance(item, str):  # Check if the item is a string
        str_count += 1

print("Number of strings in the list:", str_count)

Number of strings in the list: 5

In [8]:
my_list=[2,'serag',4,'eman',6,'younes']
copy_list=my_list
print("my_list:", my_list)
print("copy_list:", copy_list)

my_list: [2, 'serag', 4, 'eman', 6, 'younes']
copy_list: [2, 'serag', 4, 'eman', 6, 'younes']

In [9]:
my_list=[2,'serag',4,'eman',6,'younes']
print("Before:",my_list)
my_list.remove('serag')
print("After:",my_list)

Before: [2, 'serag', 4, 'eman', 6, 'younes']
After: [2, 4, 'eman', 6, 'younes']

In [10]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
check_subset=set1<=set2
if check_subset:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

In [11]:
my_set={'Amit learning','machine learning','eng:Mohamed'}
my_set.clear()
print("after clear:",my_set)

after clear: set()

In [12]:
my_set={10,40,30,50,20}
max_value=max(my_set)
min_value=min(my_set)
print("Maximum value in the set:", max_value)

Maximum value in the set: 50

In [13]:
my_tuple=('yousef','ahmed','dina')
Index_of_item=my_tuple.index('dina')
print("Index_of:",Index_of_item)

Index_of: 2

In [15]:
tuple_of_tuple=((1,'Amit'),(2,'course'),('Key3','value3'))
tuple_to_dict=dict(tuple_of_tuple)
print("dictionary:",tuple_to_dict)

dictionary: {1: 'Amit', 2: 'course', 'Key3': 'value3'}

In [49]:
#ex:14
list_of_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]

# Unzip the list of tuples into individual lists
unzipped_lists = list(zip(*list_of_tuples))

# Print the unzipped lists
for i, lst in enumerate(unzipped_lists):
    print("List", i+1, ":", lst)

List 1 : (1, 2, 3)
List 2 : ('a', 'b', 'c')

In [1]:
my_tuple= (0,1,2,3,4,5,6)

print(tuple(reversed(my_tuple)))

(6, 5, 4, 3, 2, 1, 0)

In [16]:
list_of_tuple=[(1,'youssef'),(2,'younes'),(3,'yasin')]
tuple_to_dict=dict(list_of_tuple)
print("dictionary:",tuple_to_dict)

dictionary: {1: 'youssef', 2: 'younes', 3: 'yasin'}

In [21]:
# Sample list of tuples
sample_list = [(1, 2, 3), (5, 6, 7), (8, 9, 10)]

# Value to replace the last element
new_value = 4

# Replace the last value of tuples in the list using a loop
modified_list = []
for i in sample_list:
    modified_list.append(i[:-1] + (new_value,))

# Print the modified list
print("Modified list:", modified_list)

Modified list: [(1, 2, 4), (5, 6, 4), (8, 9, 4)]

In [48]:
# #ex:18
sample_tuple = (10.5, 5.2 , 8.7)
my_list=list(sample_tuple)
my_list.sort()
tuple_from_list=tuple(my_list)
print(tuple_from_list)
sample_tuple2 = (('a', 10.5), ('b', 5.2), ('c', 8.7))

# Sort the tuple by its float element
sorted_tuple = tuple(sorted(sample_tuple2, key=lambda x: x[1]))

# Print the sorted tuple
print("Sorted tuple by its float element:", sorted_tuple)

(5.2, 8.7, 10.5)
Sorted tuple by its float element: (('b', 5.2), ('c', 8.7), ('a', 10.5))

In [22]:
a = 5
b = 10

print("Maximum between", a, "and", b, "is:", a if a > b else b)

Maximum between 5 and 10 is: 10

In [23]:
# Print the maximum between a, b, and c using a one-line conditional statement
a = 5
b = 10
c = 7

print("Maximum between", a, ",", b, ", and", c, "is:", max(a, b, c))

Maximum between 5 , 10 , and 7 is: 10

In [24]:
num = -4
print("The number", num, "is:", "negative" if num < 0 else "positive")

The number -4 is: negative

In [25]:
# Check whether the number is even or odd using a one-line conditional statement
num = 9
print("The number", num, "is:", "even" if num % 2 == 0 else "odd")

The number 9 is: odd

In [29]:
year = 2024
print("Leap year" if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0) else "Not a leap year")

Leap year

In [31]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
index = 4
print("Weekday at index", index, "is:", weekdays[index])

Weekday at index 4 is: Friday

In [32]:
# char = 'a'
# while char <= 'z':
#     print(char, end=' ')
#     char = chr(ord(char) + 1)

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [39]:
numbers = [2, 1, 4, 5 ,3]
numbers.sort()
print("sorted list:",numbers)
numbers.reverse()
# Print the reverse of the list
print("Reversed list:", numbers)

sorted list: [1, 2, 3, 4, 5]
Reversed list: [5, 4, 3, 2, 1]

In [41]:
# Print the multiplication table of the given number
num=int(input("please enter the number"))
print("Multiplication table of", num, ":")
for i in range(1, 13):
    print(num, "x", i, "=", num * i)

please enter the number6
Multiplication table of 6 :
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

In [42]:
# Print all even numbers between 1 to 100 using a while loop
num = 1
print("Even numbers between 1 to 100:")
while num <= 100:
    if num % 2 == 0:
        print(num, end=" ")
    num += 1

Even numbers between 1 to 100:
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100